/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



body {
	background: #FFF;
	margin: 2em;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: 100;
	line-height: 1.5;
}
table {
	font-family: 'Arial';
	margin: 25px auto;
	border-collapse: collapse;
	border: 1px solid #eee;
	border-bottom: 2px solid #000;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
	width: 100%;
	th, 
	td {
		color: #000000;
		border: none;
		padding: 5px 10px;
		border-collapse: collapse;
		font-size: 12px;
	}
	th {
		background: #000;
		color: #fff;
		&:last-child {
			border-right: none;
		}
	}
	tr {
		background: #DEE3E9;
		border-bottom: 3px solid #FFF;
		&:hover {
			background: rgba(0,0,0,.7);
			td {
				color: #FFF;
			}
		}  	
		&.dependent {
			background: #FFF;
			&:hover {
				background: rgba(128, 128, 128,.7);
			}
			&:hover td {
				color: #000;
			}
		}
	}
}

