/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.rc.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
body {
  background: #FFF;
  margin: 2em;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

/* line 17, ../sass/screen.scss */
table {
  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  width: 100%;
}
/* line 25, ../sass/screen.scss */
table th,
table td {
  color: #000000;
  border: none;
  padding: 5px 10px;
  border-collapse: collapse;
  font-size: 12px;
}
/* line 33, ../sass/screen.scss */
table th {
  background: #000;
  color: #fff;
}
/* line 36, ../sass/screen.scss */
table th:last-child {
  border-right: none;
}
/* line 40, ../sass/screen.scss */
table tr {
  background: #DEE3E9;
  border-bottom: 3px solid #FFF;
}
/* line 43, ../sass/screen.scss */
table tr:hover {
  background: rgba(0, 0, 0, 0.7);
}
/* line 45, ../sass/screen.scss */
table tr:hover td {
  color: #FFF;
}
/* line 49, ../sass/screen.scss */
table tr.dependent {
  background: #FFF;
}
/* line 51, ../sass/screen.scss */
table tr.dependent:hover {
  background: rgba(128, 128, 128, 0.7);
}
/* line 54, ../sass/screen.scss */
table tr.dependent:hover td {
  color: #000;
}
